.wrap{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.search {
  position: relative;
}

.searchTerm {
  width: 300px;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 14px;
}

.searchTerm:focus{
  color: black;
}

#mynetwork {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

* {
   box-sizing: content-box;
}


.filters {
    display: inline;
    margin-left: 10px;
    z-index: 1000;
    font-size: 14px;
}

.filters > button {
    height: 22px;
    font-size: 14px;
}

.filters .dropdown-item {
    width: initial;
}

.easy-autocomplete {
    display: inline;
}

.filters .dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    font-size: 14px;
}


/* Spinner */

.spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background-color: #3287ec;
    z-index: 100;

    margin: auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.dark:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* End of Spinner */

.btn-secondary {
    background-color: #004d83;
    border: none;
}

#papers_list {
    display: none;
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 400px;
    box-shadow: 0rem .5rem 1rem rgba(0,0,0,.3);
    background-color: #fff;
    border-radius: 0.3rem;
}

#papers_list .title {
  background-color: #3287ec;
  padding: .5rem 10px;
  color: #fff;
}

#papers_list .content {
    overflow-y: auto;
    max-height: 300px;
}

#papers_list .content a {
    color: #000000;
}

#papers_list .papers-list-item {
    font-size: 13px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .55rem 0.8rem;
}

.collapse-expand {
    float: right;
}

div.vis-network div.vis-navigation .vis-zoomExtends {
    bottom: 10px !important;
    left: 185px !important;
}

div.vis-network div.vis-navigation .vis-zoomOut {
    bottom: 10px !important;
    left: 145px !important;
}

div.vis-network div.vis-navigation .vis-zoomIn {
    bottom: 50px !important;
    left: 145px !important;
}


#expand {
    display: none;
}

.logo {
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 30px;
}

#welcome {
    z-index: 9000;
}
