<!DOCTYPE HTML>
<html>

<head>
    {% include 'header.html' %}
    <script>

    // passed in from flask as json
    var tweets = {{ tweets | tojson }};
    var papers = {{ papers | tojson }};
    var pid_to_users = {{ pid_to_users | tojson }};
    var msg = "{{ msg }}";
    var render_format = "{{ render_format }}";
    var username = "{{ g.user.username }}";
    var numresults = "{{ numresults }}";
    var show_prompt = "{{ show_prompt }}";

    var urlq = ''; // global will be read in to QueryString when load is done

    </script>
    {% include 'scripts.html' %}

</head>

<body>

{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col">
            <div style="font-size: 12px; padding-top: 10px">
                Based on Arxiv-Sanity. Serving {{ totpapers }} papers from cs.[CV|CL|LG|AI|NE]/stat.ML
            </div>
            <div id="flashesdiv">
            {% with flashes = get_flashed_messages() %}
                {% if flashes %}
                  <ul class="flashes">
                  {% for message in flashes %}
                    <li>{{ message }}
                  {% endfor %}
                  </ul>
                {% endif %}
            {% endwith %}
            </div>

            <div id="sbox">
              <form action="/search" method="get">
                <input name="q" type="text" id="qfield">
              </form>
              <div id="search_hint"></div>
            </div>

            <div id="pagebar">
                <ul class="nav nav-tabs">
                    <li class="nav-item dropdown d-md-none">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Most recent</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item recent" href="/">Most recent</a>
                            <a class="dropdown-item toptwtr" href="/toptwtr">Top Twitter</a>
                            <a class="dropdown-item oldhype" href="/oldhype">Old but hyped</a>
                            <a class="dropdown-item discussions" href="/discussions">Discussions</a>
                            <a class="dropdown-item library" href="/library">Library</a>
                        </div>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link recent" href="/">most recent</a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link toptwtr" href="/toptwtr">Top Twitter</a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link oldhype" href="/oldhype">Old but hyped</a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link discussions" href="/discussions">Discussions</a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link library" href="/library">Library</a>
                    </li>

                </ul>
            </div>

            <!-- this div will be rendered into dynamcially at init with JS -->
            <div id="recommend-time-choice" class="centerdiv"></div>

            <div id="maindiv">

            <div id="rtable"></div>

            <div id="loadmore">
              <button id="loadmorebtn">Load more</button>
            </div>

            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
