<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">LyrnAI Arxiv</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://arxiv.lyrn.ai/citations_network" target="_blank">Arxiv Map</a>
      </li>
    </ul>
      <div>
          {% if not g.user %}
          <form action="{{ url_for('login') }}" method="post">
              <div class="login_input">User: <input type="text" name="username" class="input-no-border"></div>
              <div class="login_input">Pass: <input type="password" name="password" class="input-no-border"></div>
              <div class="login_input"><input type="submit" value="Login or Create" class="btn-fancy"></div>
          </form>
          {% else %}
          <a href="{{ url_for('account') }}">{{ g.user.username }}</a> - <a href="{{ url_for('logout') }}">log out</a>
          {% endif %}
      </div>

  </div>
</nav>